<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/styles.css' />
    <title>{{title}}</title>
    <link rel="icon" href="/assets/weather.png">
  </head>
  <body>
     <div class="main-content">
        {{>header}}
        <p>This project was made by Vikram Kumar using Node JS, HTML, CSS, JS. This web app uses data from mapbox.com and weatherstack.com</p>
        <br/>
        <p>{{text}}</p>
            <img class="profile" src="assets/profile.png" alt="profile"/>
      </div>
      {{>footer}}
  </body>

</html>